# 03. Python Basic (4)

GC  
2023-08-14

# import

In [94]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# if

## ex1. 특정 수보다 크거나 같으면 10 더하기

In [10]:
v = int(input("기준값을 입력하시오 : "))
s = int(input("비교값을 입력하시오 : "))
if s>= v:
    s1 = s+10
    print(f"입력값 {v}보다 크거나 같은 숫자가 입력되었습니다. {s}에 10을 더한값은 {s1}입니다.")
else:
    print(f"입력값 {v}보다 작은 숫자입니다.")

입력값 70보다 작은 숫자입니다.

In [15]:
v = int(input("기준값을 입력하시오 : "))
s = int(input("비교값을 입력하시오 : "))
if s>= v:
    s1 = s+10
    print(f"입력값 {v}보다 크거나 같은 숫자가 입력되었습니다. {s}에 10을 더한값은 {s1}입니다.")
else:
    print(f"입력값 {v}보다 작은 숫자입니다.")

입력값 70보다 크거나 같은 숫자가 입력되었습니다. 70에 10을 더한값은 80입니다.

## ex2. 리스트 요소 확인

In [20]:
s = [1,2,3,4,5]
if s :
    print(s)
else :
    print("요소 없음")

[1, 2, 3, 4, 5]

In [21]:
s = []
if s :
    print(s)
else :
    print("요소 없음")

요소 없음

In [22]:
s = [1,2,3,4,5]
if s :
    pass ## 나중에 먼가 내가 조건문일 때 정의를 남기려고 `pass`!
else :
    print("요소 없음")

------------------------------------------------------------------------

# if, elif, else

## ex1. 학점

In [23]:
import numpy as np

In [35]:
s = list(range(0,100,10))

In [36]:
def grade(s) :
    if s >= 90:
        return "A"
    elif s>=80:
        return "B"
    elif s>=70:
        return "C"
    elif s>=60:
        return "D"
    else :
        return "F"

In [38]:
s

In [39]:
[grade(i) for i in s]

## ex2. 아래 인코딩을 수행

| 숫자 |  요일  |
|:----:|:------:|
|  0   | 월요일 |
|  1   | 화요일 |
|  2   | 수요일 |
|  3   | 목요일 |
|  4   | 금요일 |
|  5   | 토요일 |
|  6   | 일요일 |

In [50]:
num = list(np.random.randint(0,7,20))

In [52]:
def days(n) :
    if n == 0 :
        return "월"
    elif n == 1 :
        return "화"
    elif n == 2 :
        return "수"
    elif n == 3 :
        return "목"
    elif n == 4 :
        return "금"
    elif n == 5 :
        return "토"
    else :
        return "일"

In [56]:
week = [days(n) for n in num]

In [57]:
print(week)

['월', '일', '토', '수', '월', '금', '일', '목', '월', '월', '토', '금', '일', '수', '화', '월', '수', '목', '일', '일']

## ex3. 60점 이하 과락

In [71]:
s = [62,59,70]

In [76]:
for i in s :
    if i <60 :
        print (i,"과락")
    else :
        print(i)

62
59 과락
70

------------------------------------------------------------------------

------------------------------------------------------------------------

# for문

## ex1) for + if $\to$ 짝수만 출력

In [80]:
s = list(np.random.randint(1,100,size=10))
s

In [82]:
s2 = [i for i in s if i%2==0]

In [93]:
print(f"짝수 list는 {s2}, 합은 {sum(s2)}")

짝수 list는 [10, 70, 28, 40, 74], 합은 222

## ex2) 리스트안에 원소 출력

In [85]:
lst = [1,2, "강철",True, 1+2j]

In [86]:
[i for i in lst]

## ex3) 문자열 리스트 출력

In [98]:
l = list("abc")

for i in l:
    print(i)

a
b
c

## ex4) 구구단 구현

In [103]:
lst = list(range(2,10))

In [104]:
for i in lst :
    for j in range(1,10) : 
        print (f"{i} x {j} = {i*j}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

## ex5) enumerate $\to$ 짝수번째 인덱스만 출력

`-` 컨테이너 자료형(문자열(str), 튜플(tuple), 리스트(list),
딕셔터리(dictionary), 집합(set))을 입력받아, 순번과 요소를 포함하는
오브젝트를 출력

In [112]:
lst = list("abcdefghi")

In [113]:
list(enumerate(lst))

In [115]:
for i,j in enumerate(lst) :
    if i%2==0 :
        print(f"index : {i}, str = {j}")

index : 0, str = a
index : 2, str = c
index : 4, str = e
index : 6, str = g
index : 8, str = i

## ex6) 여러개의 값을 입력받아 짝수들의 제곱을 구하기

In [132]:
num_list = list(map(int, input("숫자를 입력하세요 : ").split()))


s_list = [i**2 for i in num_list if i % 2 == 0]

s_list

# for + dict

## ex1) 기본 반복문

In [145]:
s = dict(a=100,b=55,c=74,d=87)
s.items()

In [146]:
for i,j in s.items() :
    print(i,j)

a 100
b 55
c 74
d 87

## ex2) 기준값을 입력받은후 특정값보다 큰 key,value를 추출

In [147]:
num = int(input("숫자를 입력하시오 : "))

for i,j in s.items() :
    if j>num :
        print (i,j)

a 100
c 74
d 87

## ex3) 합구하기

In [150]:
s = {"a" : [1,2,3,4],
     "b" : [5,6,7,8],
     "c" : [6,7,8,9]}

In [152]:
{i : sum(j) for i,j in s.items()}

------------------------------------------------------------------------

# while

`-` 내 생각 : 먼가 위험하니(무한루프 등) 살면서 거의 안 쓸 것 같다.

# ex1. 기본 출력

In [158]:
lst = list("abc")

i = 0
while i < len(lst) :
    print(lst[i])
    i = i+1

a
b
c

## ex2. break

`-` 짝수합 구하기

In [164]:
s,i =0,0

while True :
    i+=1
    if i>100 :
        break ## 100d을 넘어가면 break
    if i%2==0 :
        s += i
    else :
        continue ## 다시 처음으로