---
title : "00. Lv. 0"
author : "GC"
date : "08/16/23"
categories : [python, coding test]
---

# ex1. 나이 출력 (2022년 기준)

In [11]:
sol = lambda x : 2022-(x-1)

sol(40)

1983

# ex2. 분수의 덧셈

$$\frac{n1}{d1} + \frac{n2}{d2} = \text {기약분수}$$

In [90]:
import math

In [91]:
n1,d1,n2,d2 = 1,2,3,4

In [96]:
def sol(n1,d1,n2,d2) :
    d = d1*d2 ## 분모 
    n = n1*d2 + n2*d1 ##분자

    gcd = math.gcd(d,n) ## 최대공약수

    return [n//gcd,d//gcd]

In [98]:
sol(n1,d1,n2,d2)

[5, 4]

In [102]:
n = 10
k = 3

n1 = 12000*10
k1 = (k-n//10)*2000

n1+k1

124000

# ex3. 삼각형의 완성조건

`-` 가장 긴 변의 길이는 다른 두 변이 길이의 합보다 작은지 확인하는 함수를 작성

* 조건을 만족할경우 `1`, 아닐경우 `2`를 return

In [104]:
lst= [2,10,4]

In [103]:
def solution(sides):
    sides.sort() ## 이 부분 주의 !! sides = sides.sort()라고 하면 에러남
    if sides[-1] < sum(sides[:-1]) :
        return 1
    else :
        return 2

In [105]:
solution(lst)

2

# ex4. 배열 뒤집기

In [128]:
def solution(num_list):
    num_list.reverse() ## 이 부분도 주의!! reverse와 sort는 함수안에 return 값이 없기 때문
    return num_list

In [129]:
lst = [5, 3, 1, 1, 1, 0, 1]

In [130]:
solution(lst)

[1, 0, 1, 1, 1, 3, 5]

In [143]:
n = 20

In [144]:
result = 0
for i in range(1,101) :
    if n % i == 0 :
        result +=1

In [145]:
result

6

# ex5. 옷가게 할인(소수점 이하 버리기)

In [157]:
def solution(price):
    if price>=500000:
        price = price *0.8
    elif price>=300000:
        price = price *0.9
    elif price>=100000:
        price = price * 0.95
    return int(price)

In [153]:
solution(580000)

464000.0

***

# ex6. 문자열 반복 출력

In [277]:
def solution(my_string, n):
    s = [i*n for i in my_string]
    return "".join(s)

In [279]:
solution("hello",3)

'hhheeellllllooo'

***

# ex7. 아메리카노를 몇 잔 살 수 있는지

In [280]:
def solution(money):
    ice = 5500
    x,y =  divmod(money,ice)
    return [x,y]

In [281]:
solution(5500)

[1, 0]

In [282]:
solution(15000)

[2, 4000]

***

In [326]:
l = list("aeiou")

In [328]:
l

['a', 'e', 'i', 'o', 'u']

In [332]:
s = "bus"

In [341]:
"".join([i for i in s if i not in l])

'bs'

# ex8. 모음제거

In [342]:
def solution(my_string):
    l = list("aeiou")
    return "".join([i for i in my_string if i not in l])

In [344]:
solution("bus")

'bs'

***

# ex8. 숨어있는 숫자의 덧셈

In [370]:
def solution(my_string):
    l = list(range(0,10))
    l = [str(i) for i in l ]
    return sum([int(i) for i in my_string if i in l])

In [371]:
solution("aAb1B2cC34oOp")

10

***

# ex9. 제곱수 판별하기

In [383]:
import numpy as np
def solution(n):
    if np.sqrt(n) - int(np.sqrt(n)) == 0 :
        return 1
    else :
        return 2

In [384]:
solution(144)

1

***

# ex10. 홀수짝수(이어붙인 후 더하기)

In [412]:
def solution(num_list):
    even = [str(i) for i in  num_list if i %2==0]
    odd = [str(i) for i in num_list if i %2==1]
    even1 = int("".join(even))
    odd1 = int("".join(odd))
    return even1 + odd1

In [414]:
lst = [1,2,3,4]

In [415]:
solution(lst)

37