---
title : "04. Python Basic (5)"
author : "GC"
date : "08/16/23"
categories : [python, 데이터 다루기, 정규표현식]
---

# 함수

## ex1. 여러개 인수를 입력받아 처리하는 함수

* `*`은 여러개의 인수를 튜플로 입력받아 처리해주는 메소드이다.

In [7]:
def a(*alpha) :
    for a in alpha : 
        print(f"입력된 문자는 {a}입니다.")

In [8]:
a("A","B")

입력된 문자는 A입니다.
입력된 문자는 B입니다.

`-` 또한, 임의의 매개변수를 여러개 전달받고, 고정변수를 따로 전달받아 아래와 같이 작성할 수 있다.

In [10]:
def a(*alpha,v) :
    for a in alpha : 
        print(f"입력된 문자는 {a}이며 종류는 {v}입니다.")

In [11]:
a("A","B",v = "알파벳")

입력된 문자는 A이며 종류는 알파벳입니다.
입력된 문자는 B이며 종류는 알파벳입니다.

* 단 고정값은 맨뒤에 전달해주어야 한다.

In [17]:
a(v = "알파벳","A","B")

SyntaxError: positional argument follows keyword argument (1027399463.py, line 1)

## ex2. 아래를 만족하는 함수를 작성하라.

$$\text{result} = \sum_{i=1}^{n} x^2$$

In [19]:
def a(*a) :
    result = sum([i**2 for i in a])
    return result

In [21]:
a(1,2,3,4,5)

55

In [24]:
lst= [2,10,4]

In [43]:
def solution(sides):
    sides.sort()
    if sides[-1] < sum(sides[:-1]) :
        return 1
    else :
        return 2

In [44]:
solution(lst)

2

## ex3. 여러 개의 값 return

`-` 분수 덧셈후 결과의 기약분수의 분모와 분자를 출력

In [47]:
import math

In [48]:
def sol(n1,d1,n2,d2) :
    d = d1*d2 ## 분모 
    n = n1*d2 + n2*d1 ##분자

    gcd = math.gcd(d,n) ## 최대공약수

    return n//gcd,d//gcd

In [50]:
n,d = sol(1,2,3,4)

In [54]:
n

5

In [55]:
d

4

## 내장함수

### `abs` : 절대값 return

In [56]:
a = 1
b = -a

a == abs(b)

True

### `all` : `x`의 요소가 모두 참이면 `True`

In [65]:
a = list("abcd")

all(a)

True

`-` 0은 `False`와 같음

In [68]:
0 == False

True

In [66]:
a.append(0)
a

['a', 'b', 'c', 'd', 0]

In [67]:
all(a)

False

### `any` : 요소 중 하나라도 참이면 `True`

In [70]:
a

['a', 'b', 'c', 'd', 0]

In [71]:
any(a)

True

### `dir` : 객체 x가 가지고 있는 변수 및 메소드 목록 return

In [73]:
a

['a', 'b', 'c', 'd', 0]

In [74]:
dir(a)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

`-` 오리지날 메소드만 출력

In [82]:
b = [i for i in dir(a) if i[0] != "_"]

In [83]:
b

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

### `divmod(x,y)`

`-` `x`를 `y`로 나눈 몫과 나머지를 튜플로 반환

In [84]:
divmod(5,2)

(2, 1)

### `eval`

`-` 코드의 실행을 입력받아 결과를 받음.

In [86]:
eval('10+20')

30

### filter

`-` 함수에 매개변수를 전달해 참인 경우만 결과를 반환 $\to$ `filter(f,a)`

`-` ex1

#### ver1. `def`

In [87]:
def f(x) :
    if x % 2 == 0 :
        return x

In [88]:
a = [1,2,3,4,5]

In [90]:
list(filter(f,a))

[2, 4]

#### ver2. `lambda`

In [92]:
list(filter(lambda x : x % 2==0,a))

[2, 4]

### ord

`-` 문자의 아스키 코드반환

In [93]:
ord("A")

65

### map(lambda) $(\star\star\star)$

`-` 짝수 선택 예제

In [138]:
import numpy as np
import pandas as pd

In [140]:
np.random.seed(1)
df2= pd.DataFrame(np.random.normal(size=(10,4)),columns=list('ABCD'))
df2.head()

          A         B         C         D
0  1.624345 -0.611756 -0.528172 -1.072969
1  0.865408 -2.301539  1.744812 -0.761207
2  0.319039 -0.249370  1.462108 -2.060141
3 -0.322417 -0.384054  1.133769 -1.099891
4 -0.172428 -0.877858  0.042214  0.582815

`-` A열에서  0보다 큰값들만 출력

In [141]:
df2.iloc[map(lambda x : x>0, df2.A),:]

          A         B         C         D
0  1.624345 -0.611756 -0.528172 -1.072969
1  0.865408 -2.301539  1.744812 -0.761207
2  0.319039 -0.249370  1.462108 -2.060141
6  0.900856 -0.683728 -0.122890 -0.935769

`-` A,C열에서 둘다 0보다 큰값들만 출력

In [142]:
df2.loc[ map(lambda x,y : (x>0) & (y>0) , df2.A,df2.C),:]

          A         B         C         D
1  0.865408 -2.301539  1.744812 -0.761207
2  0.319039 -0.249370  1.462108 -2.060141

`-` 짝수에는 곱하기2, 홀수에는 곱하기 3

In [155]:
a = list(range(1,11))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [156]:
list(map(lambda x : x*2 if x%2 ==0 else x*3,a))

[3, 4, 9, 8, 15, 12, 21, 16, 27, 20]

### isinstance

`-` 객체가 해당 자료형의 해당하는 객체인지 확인

In [145]:
a = list("abcd")
b = 1

print(isinstance(a,list))
print(isinstance(b,int))

True
True

### zip($\star\star\star$)

`-` 두 객체의 요소들을 쌍으로 묶어서 반환해줌

In [148]:
a = [1,2,3,4]
b = [2,4,6,8]
list(zip(a,b))

[(1, 2), (2, 4), (3, 6), (4, 8)]

`-` 아래와 같이 인덱스 범위를 넘어가면 그냥 무시한다.

In [149]:
a = [1,2,3,4]
b = [2,4,6,8,9]
list(zip(a,b))

[(1, 2), (2, 4), (3, 6), (4, 8)]

***

# 정규식

## sub

In [162]:
p = "강철 : 961230-1111111 호연 : 961231-1111111"

In [159]:
import re

`-` 해당 패턴을 아래와 같이 기억

In [171]:
mask = re.compile("(\d{6})[-]\d{7}")

`-` g<?> : 그룹을 의미하며 위 컴파일에서 `()`로 구분한다. $\to$ `g<0>`은 전체 패턴을 의미

`-` (\d{6}) : g<1>

In [179]:
mask.sub("\g<1>-XXXXXXX",p)

'강철 : 961230-XXXXXXX 호연 : 961231-XXXXXXX'

`-` (\d{6})[-]\d{7} : g<0>

In [180]:
mask.sub("\g<0>-XXXXXXX",p)

'강철 : 961230-1111111-XXXXXXX 호연 : 961231-1111111-XXXXXXX'

`-` 아래와 같이 1명만 바꿀 수 있음

In [178]:
mask.sub("\g<1>-XXXXXXX",p,count=1)

'강철 : 961230-XXXXXXX 호연 : 961231-1111111'

## basic

In [181]:
import re

### match

`-` 문자열의 첫 글자가 정규식과 일치하는지 확인

In [182]:
s = "I am gc"

In [194]:
result = re.match("I",s)
if result:
    print("o")
else :
    print("x")

o

### search

`-` 문자열 전체에서 정규식과 일치하는 확인

In [216]:
s = "I am gcg"

In [200]:
result = re.search("gc",s)

In [201]:
if result:
    print("o")
else :
    print("x")

o

`-`  매치된 결과를 다음과 같은 메소드로 확인할 수 있다.

In [226]:
s = "I am gc"
result = re.search("g",s)

* group() : 매치된 문자열을 반환

In [227]:
result.group()

'g'

* start(),end() : 매치된 문자열의 시작과 끝의 위치를 반환
    * end() : `끝위치-1`을 반환한다.

In [228]:
result.start()

5

In [229]:
result.end()

6

In [230]:
s[5]

'g'

In [232]:
s[6]

'c'

* span() : 매치된 문자열의 시작, 끝을 튜플로 반환

In [233]:
result.span()

(5, 6)

### findall

`-` 정규식과 매치되는 모든 문자열을 리스트로 반환

In [237]:
s= 'I am gc gc'

In [238]:
re.findall("g",s)

['g', 'g']

In [239]:
re.findall("gc",s)

['gc', 'gc']

### finditer

`-` 정규식과 매치되는 모든 문자열을 반복 가능한 객체로 변환

In [240]:
s

'I am gc gc'

In [241]:
result = re.finditer("gc",s)

In [243]:
for i in result : 
    print(i)

<re.Match object; span=(5, 7), match='gc'>
<re.Match object; span=(8, 10), match='gc'>

### 나열된 문자 포함여부 확인

In [246]:
s

'I am gc gc'

In [247]:
re.findall("[gc]",s)

['g', 'c', 'g', 'c']

`-` 같은 문자 한번만 표시

In [249]:
list(set(re.findall("[gc]",s)))

['c', 'g']

* `^` : 해당 문자열을 제외한 문자들을 리스트로 출력

In [252]:
s

'I am gc gc'

In [253]:
list(set(re.findall("[^gc]",s)))

[' ', 'm', 'a', 'I']

In [255]:
list(set(re.findall("[^ gc]",s))) ## 공백 제거

['m', 'a', 'I']

### 범위안에 문자 포함여부확인

In [256]:
s

'I am gc gc'

`-` 소문자만 출력

In [257]:
re.findall("[a-z]",s)

['a', 'm', 'g', 'c', 'g', 'c']

`-` 대문자만 출력

In [259]:
re.findall("[A-Z]",s)

['I']

`-` 대,소문자 둘다 출력

In [260]:
re.findall("[A-Za-z]",s)

['I', 'a', 'm', 'g', 'c', 'g', 'c']

`-` 숫자 찾기

In [261]:
s = "gc is 28 years"

In [262]:
re.findall("[0-9]",s)

['2', '8']

### 두 문자 사이의 포함 여부 확인

In [285]:
s = "sabe"

* `.`은 한글자를 대체하는 단어로 다음과 같은 패턴으로 활용할 수 있다.

In [287]:
s

'sabe'

In [288]:
re.findall("a.e",s)

['abe']

### 문자 반복 확인

`-` 일정한 패턴이 얼마나 반복되는지 아래와 같은 형식으로 확인할 수 있다.

In [292]:
s = "gc gcc"

In [294]:
s

'gc gcc'

* `c`가 0회이상 반복

In [295]:
re.findall("g*c",s)

['gc', 'gc', 'c']

* `c`가 1회 이상 반복

In [298]:
re.findall("gc{1}",s)

['gc', 'gc']

* `c`가 1~2회 반복

In [299]:
re.findall("gc{1,2}",s)

['gc', 'gcc']

* `c`가 0에서 1회 반복

In [302]:
re.findall("gc?",s)

['gc', 'gc']